* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

#leftBar {
  position: fixed;
  right: 10px;
  background: #fff; }

#leftBar div {
  width: 62px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 3px;
  font-size: 12px; }

#leftBar div .floor_s {
  color: #ed5759;
  display: block;
  border: 1px solid #d3d3d3; }

#leftBar div .floor_h {
  display: block;
  border: 1px solid #ed5759;
  color: #ed5759;
  display: none;
  background: pink; }

.box {
  height: 35px;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  background: #f7f7f7; }

.box .banner {
  height: 35px;
  width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 12px; }

.box .banner span {
  color: #ecebee;
  margin: 0 10px; }

.box .banner .registration {
  float: left;
  line-height: 35px; }

.box .banner .registration a {
  color: #fe8500; }

.box .banner .nav {
  float: right;
  line-height: 35px; }

.box .banner .nav ul li {
  float: left; }

.box .banner .nav ul .Customer {
  position: relative;
  vertical-align: middle;
  text-align: center; }

.box .banner .nav ul .Customer .Cust {
  height: 40px;
  width: 80px;
  background: #fff;
  position: absolute;
  top: 35px;
  left: -13px;
  z-index: 10;
  line-height: 40px;
  vertical-align: middle;
  color: #747474;
  border: 1px solid #eee;
  display: none; }

.box .banner .nav a {
  color: #747474; }

.box .banner .nav a:hover {
  color: #fe8500; }

.box .banner .nav .icon-xingxing {
  line-height: 35px;
  font-size: 12px;
  position: relative; }

.box .banner .nav .icon-xingxing .navmyCollection {
  display: block;
  width: 60px;
  height: 68px;
  position: absolute;
  top: 24px;
  left: -10px;
  box-shadow: 0 0 1px #ccc;
  line-height: 30px;
  background: #fff;
  padding: 0 15px;
  z-index: 10;
  display: none; }

.box .banner .nav .icon-xingxing .navmyCollection a {
  text-align: center; }

.header {
  height: 110px;
  width: 1200px;
  margin: 0 auto; }

.header .logo_1 {
  margin-top: 10px;
  float: left; }

.header .search {
  height: 102px;
  margin-left: 40px;
  float: left;
  position: relative; }

.header .search .list {
  height: 35px;
  width: 80px;
  border-right: 1px solid #d3d3d3;
  text-align: center;
  line-height: 36px;
  background: #f7f7f7;
  position: absolute;
  top: 33px;
  left: 3px;
  font-size: 14px;
  color: #747474;
  cursor: pointer; }

.header .search .list .textLeftp {
  height: 70px;
  width: 79px;
  border: 1px solid #2eabe5;
  position: absolute;
  top: 37px;
  left: 0;
  background: #fff;
  line-height: 35px;
  display: none; }

.header .search .list .textLeftp p {
  height: 35px;
  width: 79px;
  text-align: center;
  font-size: 12px; }

.header .search .list .icon-jiantouarrow483 {
  font-size: 12px;
  color: #d3d3d3; }

.header .search .searchshop {
  height: 36px;
  width: 460px;
  border: 3px solid #2eabe5;
  outline: none;
  margin-top: 30px;
  padding-left: 100px; }

.header .search .searchbtn {
  vertical-align: bottom;
  height: 42px;
  width: 80px;
  background: #2eabe5;
  border: 1px solid #2eabe5;
  outline: none;
  margin-top: 30px;
  color: #fff;
  font-size: 16px; }

.header .search .tag a {
  font-size: 12px;
  color: #747474;
  margin: 0 5px; }

.header .search .tag a:hover {
  color: #fe8500; }

.header .shoping {
  float: right;
  height: 40px;
  width: 140px;
  border: 1px solid #d3d3d3;
  text-align: center;
  line-height: 40px;
  margin-top: 30px;
  position: relative; }

.header .shoping #num {
  height: 18px;
  width: 18px;
  position: absolute;
  background: #fe8500;
  left: 34px;
  top: 0;
  border-radius: 50%;
  line-height: 18px;
  color: #fff; }

.header .shoping .icon-gouwuche {
  color: #2eabe5;
  font-size: 24px;
  margin-right: 5px; }

.header .shoping span {
  color: #2eabe5;
  font-size: 14px; }

.headerNavBox {
  border-bottom: 2px solid #ddd; }

.menubox {
  width: 1200px;
  height: 40px;
  margin: 0 auto; }
  .menubox .menu {
    height: 40px;
    width: 1000px; }
    .menubox .menu .allfl {
      height: 40px;
      line-height: 40px; }
      .menubox .menu .allfl .AllGoods {
        float: left;
        background: #2eabe5;
        width: 210px;
        position: relative; }
        .menubox .menu .allfl .AllGoods .icon-iconfontcaidan {
          display: inline-block;
          height: 16px;
          width: 16px;
          margin: 0 10px 0 40px; }
      .menubox .menu .allfl a {
        color: #fff; }
      .menubox .menu .allfl .menufll {
        display: inline-block; }
        .menubox .menu .allfl .menufll a {
          display: inline-block;
          height: 40px;
          width: 120px;
          text-align: center;
          line-height: 40px;
          font-weight: 600;
          font-size: 14px;
          color: #000000; }
          .menubox .menu .allfl .menufll a:hover {
            color: #747474; }

.details1 {
  display: none;
  position: absolute;
  top: 40px; }
  .details1 .details2 .details3 {
    background: rgba(0, 0, 0, 0.5);
    width: 210px;
    position: relative; }
    .details1 .details2 .details3 li {
      line-height: 32px;
      color: #fff;
      font-size: 14px;
      padding-left: 10px;
      cursor: pointer; }
      .details1 .details2 .details3 li span {
        position: absolute;
        right: 20px; }
  .details1 .details2 .leftxq {
    position: absolute;
    top: 0;
    left: 210px;
    z-index: 999; }
    .details1 .details2 .leftxq .detailsLeft {
      width: 488px;
      background: #fff;
      font-size: 12px;
      padding: 0 142px 0 10px;
      border: 1px solid #d3d3d3;
      position: absolute;
      display: none;
      z-index: 999;
      color: #747474; }
      .details1 .details2 .leftxq .detailsLeft .remove {
        height: 16px;
        width: 16px;
        border: 1px solid #ccc;
        border-radius: 50%;
        line-height: 16px;
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        background: #747474;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer; }
      .details1 .details2 .leftxq .detailsLeft div {
        padding-right: 20px;
        border-bottom: 1px solid #d3d3d3; }
        .details1 .details2 .leftxq .detailsLeft div p {
          font-weight: 600;
          line-height: 32px; }
        .details1 .details2 .leftxq .detailsLeft div span {
          margin-left: 10px;
          line-height: 32px;
          cursor: pointer; }
          .details1 .details2 .leftxq .detailsLeft div span:hover {
            color: #fe8500; }

.centetBox {
  height: 100%;
  width: 1200px;
  margin: 0 auto; }
  .centetBox .cententOne {
    width: 1160px;
    margin: 15px auto;
    line-height: 58px; }
    .centetBox .cententOne img {
      height: 12px;
      width: 12px;
      margin-right: 5px; }
    .centetBox .cententOne a {
      font-size: 14px;
      color: #333; }
      .centetBox .cententOne a span {
        font-size: 12px;
        color: #fe8500;
        margin: 0 3px; }
  .centetBox .leftNav {
    float: left;
    width: 208px;
    min-height: 600px;
    border: 1px solid #E8E8E8;
    overflow: hidden; }
    .centetBox .leftNav .mar_t10 img {
      height: 10px;
      width: 10px; }
    .centetBox .leftNav .mar_t10 dl span img {
      font-weight: 100;
      float: right;
      margin: 10px 20px; }
    .centetBox .leftNav .mar_t10 dl span .hideBottom {
      display: none; }
    .centetBox .leftNav .mar_t10 dl .pad_l10 {
      background: #f0f0f0;
      line-height: 35px;
      text-indent: 5px;
      font-size: 14px;
      font-weight: bold;
      font-size: 14px;
      color: #747474; }
    .centetBox .leftNav .mar_t10 dl .js_categories {
      height: 35px;
      line-height: 35px;
      border-bottom: 1px solid #e8e8e8;
      color: #747474;
      text-align: left;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer; }
      .centetBox .leftNav .mar_t10 dl .js_categories span {
        margin-left: 20px; }
    .centetBox .leftNav .mar_t10 dl ul li {
      font-size: 12px;
      color: #747474;
      line-height: 28px;
      cursor: pointer; }
      .centetBox .leftNav .mar_t10 dl ul li img {
        height: 6px;
        width: 6px;
        margin: 0 5px 0 30px; }
    .centetBox .leftNav .mar_t10 dl dd {
      height: 35px;
      line-height: 35px;
      border: 1px solid #e8e8e8;
      text-align: left;
      font-weight: bold;
      font-size: 14px;
      background: #f9f9f9; }

.cententRight {
  width: 970px;
  float: right; }
  .cententRight .Custom ul {
    border: 1px dotted #e8e8e8; }
    .cententRight .Custom ul .details {
      line-height: 24px;
      width: 140px;
      background: #fe8500;
      text-align: center;
      color: #fff;
      margin: 5px 0; }
    .cententRight .Custom ul li {
      display: inline-block;
      width: 130px;
      line-height: 35px;
      font-size: 12px;
      color: #747474;
      margin-left: 20px; }
  .cententRight .Custom #listlt img {
    text-align: center;
    height: 10px;
    width: 10px;
    margin: 5px 0 5px 420px;
    line-height: 22px; }
  .cententRight .Custom #listlt .showTop {
    display: none; }
  .cententRight .Custom .hidecontent {
    display: none; }

.Selection {
  line-height: 35px;
  font-size: 12px;
  margin-top: 10px;
  overflow: hidden; }
  .Selection .SelectionLeft li {
    float: left;
    border: 1px solid #e8e8e8;
    color: #747474;
    cursor: pointer;
    padding: 0 10px; }
    .Selection .SelectionLeft li:first-child {
      background: red;
      color: #fff; }
      .Selection .SelectionLeft li:first-child a:first-child {
        color: #fff; }
    .Selection .SelectionLeft li:hover {
      background: #fe8500;
      color: #fff; }
      .Selection .SelectionLeft li:hover a {
        color: #fff; }
    .Selection .SelectionLeft li a {
      color: #747474;
      margin-right: 10px; }
      .Selection .SelectionLeft li a span {
        display: inline-block;
        width: 100%;
        height: 100%; }
    .Selection .SelectionLeft li .hideBottom {
      display: none; }
  .Selection .SelectionRight li {
    float: right;
    border: 1px solid #e8e8e8;
    padding: 0 10px;
    color: #747474; }

.boxCommodityList {
  width: 100%; }
  .boxCommodityList .CommodityList {
    width: 230px;
    height: 410px;
    padding: 5px;
    float: left;
    margin: 5px 0;
    line-height: 25px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px dotted #e8e8e8; }
    .boxCommodityList .CommodityList:hover {
      box-shadow: 0 2px 5px #ddd;
      border: 1px solid #E8E8E8; }
    .boxCommodityList .CommodityList .introduction1 {
      width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      color: #747474;
      margin: 0 5px; }
    .boxCommodityList .CommodityList .introduction2 {
      font-size: 14px;
      color: #747474; }
      .boxCommodityList .CommodityList .introduction2 .fontycang {
        display: inline-block;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #747474;
        vertical-align: middle; }
      .boxCommodityList .CommodityList .introduction2 img {
        vertical-align: middle;
        margin: 0 10px; }
    .boxCommodityList .CommodityList .introduction3 {
      font-size: 14px;
      font-weight: 600;
      color: #fe8500; }
      .boxCommodityList .CommodityList .introduction3 span {
        display: inline-block;
        background: #ff4400;
        font-size: 12px;
        font-weight: 100;
        line-height: 16px;
        color: #fff;
        margin-left: 5px; }
    .boxCommodityList .CommodityList .introduction4 {
      font-size: 14px;
      color: #747474; }
      .boxCommodityList .CommodityList .introduction4 span {
        color: #ff0000; }
    .boxCommodityList .CommodityList .introduction5 span:first-child {
      float: left;
      color: #e5e1e1;
      font-weight: 600;
      font-size: 20px; }
    .boxCommodityList .CommodityList .introduction5 span:last-child {
      float: right;
      font-size: 12px;
      color: #2eabe5;
      margin-right: 10px; }

.page {
  float: right;
  height: 60px;
  margin-top: 10px; }
  .page ul li {
    width: auto;
    float: left;
    font-size: 12px;
    color: #747474; }
    .page ul li a {
      display: inline-block;
      color: #747474;
      text-align: center;
      line-height: 30px;
      border: 1px solid #dedede;
      padding: 0 10px;
      font-size: 12px;
      border-right: none; }
  .page ul .lastA a {
    border-right: 1px solid #dedede; }
  .page ul .jump {
    padding-left: 10px;
    width: 20px;
    height: 25px; }
  .page ul .jump1 {
    border: none;
    color: #fe8500;
    padding-left: 5px; }

.foottanchong {
  clear: both;
  height: 151px;
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #dedede; }

.footahao {
  height: 121px;
  background: #f5f5f7;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  margin: 0 auto;
  padding: 20px 0;
  color: #747474; }
